.page-header
  = link_to t('.new_blog_categorization'), new_comfy_admin_blog_categorization_path(@site, @blog), :class => 'btn btn-default pull-right'
  %h2= t('.page_title')

= comfy_paginate @categorizations

%table.table.table-hover
  %tr
    %th.main= t('.name')
    %th

  - @categorizations.each do |categorization|
    %tr
      %td.main
        = categorization.post.title
      %td
        .btn-group.btn-group-sm
          = link_to t('.edit'), edit_comfy_admin_blog_categorization_path(@site, @blog, categorization), :class => 'btn btn-default'
          = link_to t('.delete'), comfy_admin_blog_categorization_path(@site, @blog, categorization), :method => :delete, :data => {:confirm => t('.confirm_message')}, :class => 'btn btn-danger'

= comfy_paginate @categorizations
